---
---

@import "../_sass/fonts.scss";
@import "../_sass/highlighter.scss";
@import "../_sass/normalize.scss";

:root {
  --font-family-ibm: "IBM Plex Mono", monospace;
  --font-family-special: "Special Elite", monospace;
  --font-family-source: "Source Code Pro", monospace;
  --font-family-source-serif: "Source Code Pro", serif;
  --font-family-monospace: "Overpass Mono", monospace;
  --font-family-sans-serif: "Overpass", sans-serif;
  --font-family-logo: "Podkova", serif;
  --font-family-text: "mononoki", monospace;
  --font-family-hack: "Hack", monospace;
  --font-family-forum: "Forum", serif;
}


body {
  font-family: "Hack";
}

.language-plaintext, .highlighter-rouge {
  display: flex;
  flex-direction: row;
  // justify-content: space-around;
}
.md-header-nav__button.md-logo * {
  width: 48px
}

.md-nav  {
  background-color: inherit;
}

.md-typeset .codehilite, .md-typeset .highlight {
  background-color: #1a1a1a;
}

[data-md-color-primary=grey] .md-typeset a {
  color: #796fb4;
}

.md-typeset h1 {
  font-family: (var(--font-family-special));
  font-size: 2.5em;
  font-weight: 600;
  color: black;
}

.md-typeset h2 {
  font-family: (var(--font-family-ibm));
  font-size: 2.25em;
}

.md-typeset h4 {
  font-family: (var(--font-family-logo));
  color: #e05623;
  font-size: 2em;
  font-weight: 500;
}

.md-typeset h5, .md-typeset h6 {
  font-weight: 400;
}

.md-typeset pre.codehilite code, .md-typeset pre.highlight code {
  color: #451343;
}

.dropdown {
  background-color: #bbbbbb;
}

.md-typeset code, .md-typeset pre {
  background-color: black;
  box-shadow: unset;
  color: #878aff;
  padding: 5px;
}

em {
  color: #ab9b63
}

.md-typeset blockquote {
  font-style: italic;
}

[data-md-color-primary=orange] .md-header, [data-md-color-primary=orange] .md-hero {
  background-color: black;
}


[data-md-color-primary=orange] .md-typeset a {
  color: black;
  text-decoration: underline;
}

.md-typeset .codehilite code, .md-typeset .codehilite pre, .md-typeset .highlight code, .md-typeset .highlight pre {
  background-color: darkkhaki;
  padding: unset;;
}
